# ==============================================================================
# CMMS LITE - Konfiguracja Środowiskowa
# Skopiuj ten plik do pliku o nazwie: .env
# ==============================================================================

SPRING_PROFILES_ACTIVE=profile_dev/prod

# --- Konfiguracja Bazy Danych ---
DB_HOST=db_example
DB_NAME=db_name
DB_USERNAME=db_username
DB_PASSWORD=db_password

# --- Konfiguracja Bezpieczeństwa (JWT) ---
JWT_SECRET_KEY=db_long_secret
JWT_TOKEN_DURATION=36000000
JWT_REFRESH_DURATION=604800000
JWT_TOKEN_ISSUER=jwt_issuer